<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nopossible">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/TranslucentTheme">
        <activity
            android:name=".activities.splash.SplashActivity"
            android:label="@string/title_activity_first">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.main.MainActivity" />
        <activity android:name=".activities.gooddetail.GooddetailActivity"/>
        <activity android:name=".activities.login.LoginActivity">

        </activity>
        <activity android:name=".activities.register.RegisterActivity"/>
        <activity android:name=".activities.findpass.FindpassActivity"/>
        <activity android:name=".activities.goodapply.GoodapplyActivity">
        </activity>
        <activity android:name=".activities.onekeysaveorder.OnekeysaveorderActivity">
        </activity>
        <activity android:name=".activities.myapply.MyapplyActivity">
        </activity>
        <activity android:name=".activities.confirmorder.ConfirmorderActivity"/>
        <activity android:name=".activities.minegroup.myinfo.MyinfoActivity"/>
        <activity android:name=".activities.minegroup.myscore.MyscoreActivity"/>
        <activity android:name=".activities.minegroup.myapply.MyapplyActivity"/>
        <activity android:name=".activities.minegroup.mysetting.MysettingActivity"/>
        <activity android:name=".activities.minegroup.mymessage.MymessageActivity"/>
        <activity android:name=".activities.confirmreceipt.ConfirmreceiptActivity"/>
    </application>

</manifest>